/* main */

html{
	height: 100%;
}

body{
	height: 100%;
	margin: 0;
	
	background-attachment: fixed;

	background: linear-gradient(to bottom right, #151517, #7F7D7B);
	/*background-color: #19191C;*/
	/*background-color: #8B8987;*/
	background-repeat: no-repeat;
}



.heading{
	height: 200px;
	width: 482px;
	top: 115px;
	left: 42px;

	/*border: solid 2px white;*/	
	margin: 0px 0px 0px 0px;
	position: relative;
}

.heading-title{
	height: 87px;
	width: 482px;
	margin: 0;
	line-height: 95px;
	/*border: solid 1px white;*/

	font-family: 'Cinzel Decorative';
	font-size: 87px;
	color: #DAD7D3;	
	text-shadow: 6px 10px 5px rgba(0, 0, 0, .3);

}


.heading-byline{
	position: absolute;
	left: 185px;
	bottom: ;
	height: ;
	width: 255px;
	margin: 6px 0px 0px 0px;
	/*border: solid 1px white;*/

	font-family: 'Cinzel';
	font-size: 35px;
	color: #CDB182;
	text-shadow: 3px 7px 5px rgba(0, 0, 0, .3);

}

nav{
	/*border: solid white 1px;*/
	width: 414px;
	/*margin: 167px 0px 0px 20px;*/
	position: absolute;
	bottom: 155px;
	left: 82px;
	line-height: 60px;
}

nav a{
	font-family: 'Cinzel';
	font-size: 37px;
	color: #DAD7D3;
	text-decoration: none;
	text-shadow: 3px 7px 5px rgba(0, 0, 0, .3);
	transition: .3s;
}

nav a:hover{
	color: #CDB182;
}

/* form */
.container{
	position: absolute;
	background-color: #f1e9d2;
	/*float: right;*/	
	top: 90px;
	right: 50px;
	width: 550px;
	height: 600px;
	border-radius: 10px;
	margin: 0px 0px 0px 0px;
	/*padding-left: 30px;*/

	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset -10px -40px 210px rgba(65, 56, 38, 1);

}

.container:before, .container:after{
	position: absolute;
	width: 40%;
	height: 30px;
	border-radius: 10px;
	content: ' ';
	left: 12px;
	bottom: 12px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 20px 12px rgba(0, 0, 0, 0.3);
	z-index: -1;
} 

.container:after{
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}

.form-title{
	font-family: 'Bilbo Swash Caps';
	color: #413826;
	font-size:30px;
	margin: 25px;
	display: inline-block;

}

.form-date{
	font-family: 'Bilbo Swash Caps';
	display: inline;
	color: #413826;
	font-size:24px;
	display: inline-block;
	margin: 0px 0px 0px 110px;
}

.input-wrapper{
	margin: 40px 16px;
	text-align:center;
}

input[type=text]{
	width:185px;
	height:50px;
	margin: 0px 35px 18px 0px;
	padding: 3px;
	box-sizing: border-box;
	
	outline: none;
	border: none;
	border-bottom: solid 1px #413826;
	
	background-color: transparent;
	transition: 0.5s;

	font-family: 'Bilbo';
	font-size: 20px;
	color:#413826;
}

/*input[placeholder]{
	font-family: 'Bilbo';
	font-size 20px;
}*/

::-webkit-input-placeholder { color: #333333; opacity: 1 !important; }
:-moz-placeholder { color: #333333;}
::-moz-placeholder {color: #333333;}
:-ms-input-placeholder {color: #333333;}


input[type=text]:focus{
 background-color:#bdad8f;
 border: none;
 border-radius: 4px 4px 4px 4px;
}



#form-button{
	/*margin: 16px 16px;*/
	font-family: 'Cinzel';
	font-size: 16px;
	color: #f1e9d2;
	background-color: #413826;
	border: solid 1px #413826;
	border-radius: 4px;
	outline: none;
	position: absolute;
	bottom: 90px;
	left: 140px;
	transition: .1s;
}

#form-button:hover{
	cursor: pointer;
}

#form-button:active{
	background-color: #f1e9d2;
	color: #413826;
}



.libs-title{
	font-family: 'Bilbo Swash Caps';
	color: #413826;
	font-size: 30px;
	display: inline-block;
	margin: 25px;
}

.libs-date{
	font-family: 'Bilbo Swash Caps';
	display: inline;
	color: #413826;
	font-size:24px;
	display: inline-block;
	margin: 0px 0px 0px 110px;

}

.libs-copy{
	font-family: 'Bilbo Swash Caps';
	color: #413826;
	font-size:24px;
	margin: 0px 45px;
}

.lib{
	background-color: #bdad8f;
	padding: 0 5px;
	border-radius: 2px;
}
