<div class="container">
	<p class="libs-title">Expedition Journal</p> <p class="libs-date">Date: </p>
	<!-- <button type="button" ng-click="getWords(wordsToAdd)">Add ze Libs!</button> -->


	<p class="libs-copy">
		A copy of Fantastic Beasts and Where to Find Them resides in almost every wizarding household in the country. Now, for a <span class="lib">{{storedLibs.adj}}</span> period only, Muggles too have the chance to <span class="lib">{{storedLibs.verb}}</span> where the Quintaped lives, what the Puffskein eats, and why it is best not to leave milk out for a Knarl. Proceeds from the sale of this book will go to improving and saving the lives of children around the world, which means that the dollars and Galleons that you exchange for it will do magic beyond they powers of any wizard. If you feel that this is <span class="lib">{{storedLibs.adj2}}</span> reason to part with your money, I can only hope most sincerely that passing wizards feel more charitable if they ever see you being attacked by a Manticore.<span class="lib">{{storedLibs.noun}}</span> <span class="lib">{{storedLibs.noun2}}</span> <span class="lib">{{storedLibs.noun3}}</span>
	</p>

</div>