<div>
	<h1>Libs</h1>
	<!-- <button type="button" ng-click="getWords(wordsToAdd)">Add ze Libs!</button> -->

	<!-- adj: -->
	<p>(ad)<span>{{storedLibs.adj}}</span></p> 
	<!-- adj2: -->
	<p>(ad2)<span>{{storedLibs.adj2}}</span></p> 

	<!-- verb: -->
	<p>(ver)<span>{{storedLibs.verb}}</span></p>
	<!-- verb2: -->
	<p>(ver2)<span>{{storedLibs.verb2}}</span></p>

	<!-- noun: -->
	<p>(n)<span>{{storedLibs.noun}}</span></p>
	<!-- noun2: -->
	<p>(n2)<span>{{storedLibs.noun2}}</span></p>
	<!-- noun3: -->
	<p>(n3)<span>{{storedLibs.noun3}}</span></p>
</div>